h1 {
    color:  rgb(255, 255, 255);
    font-size: 64;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color:  rgb(255, 255, 255);
    font-size: 45;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color:  rgb(255, 255, 255);
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: rgb(255, 255, 255);
    font-size: 22;
    font-family: 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}